In [1]:
! pip install boto3 pymongo twitter --quiet

In [2]:
from pymongo import MongoClient

In [3]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [4]:
cursor = collection_reference.find()

In [5]:
next(cursor)

{'_id': ObjectId('5b562057cfd9de0efb61d3b5'),
 'created_at': 'Sat Jul 21 20:58:43 +0000 2018',
 'id': 1020775097898917888,
 'id_str': '1020775097898917888',
 'text': 'Can’t wait to go home and play video games already smh',
 'source': '<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>',
 'truncated': False,
 'in_reply_to_status_id': None,
 'in_reply_to_status_id_str': None,
 'in_reply_to_user_id': None,
 'in_reply_to_user_id_str': None,
 'in_reply_to_screen_name': None,
 'user': {'id': 3096943027,
  'id_str': '3096943027',
  'name': 'mattygeee',
  'screen_name': 'Mattygeee1',
  'location': 'Los Angeles, CA',
  'url': None,
  'description': None,
  'translator_type': 'none',
  'protected': False,
  'verified': False,
  'followers_count': 286,
  'friends_count': 399,
  'listed_count': 4,
  'favourites_count': 7501,
  'statuses_count': 17775,
  'created_at': 'Thu Mar 19 01:14:05 +0000 2015',
  'utc_offset': None,
  'time_zone': None,
  'geo_enabled': True,
  'lang': 'en',
  'contributors_enabled': False,
  'is_translator': False,
  'profile_background_color': '000000',
  'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png',
  'profile_background_tile': False,
  'profile_link_color': 'E81C4F',
  'profile_sidebar_border_color': '000000',
  'profile_sidebar_fill_color': '000000',
  'profile_text_color': '000000',
  'profile_use_background_image': False,
  'profile_image_url': 'http://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_image_url_https': 'https://pbs.twimg.com/profile_images/976278641431650304/QDCKALf8_normal.jpg',
  'profile_banner_url': 'https://pbs.twimg.com/profile_banners/3096943027/1522005281',
  'default_profile': False,
  'default_profile_image': False,
  'following': None,
  'follow_request_sent': None,
  'notifications': None},
 'geo': None,
 'coordinates': None,
 'place': {'id': '59612bd882018c51',
  'url': 'https://api.twitter.com/1.1/geo/id/59612bd882018c51.json',
  'place_type': 'city',
  'name': 'Santa Monica',
  'full_name': 'Santa Monica, CA',
  'country_code': 'US',
  'country': 'United States',
  'bounding_box': {'type': 'Polygon',
   'coordinates': [[[-118.517358, 33.995177],
     [-118.517358, 34.050199],
     [-118.443482, 34.050199],
     [-118.443482, 33.995177]]]},
  'attributes': {}},
 'contributors': None,
 'is_quote_status': False,
 'quote_count': 0,
 'reply_count': 0,
 'retweet_count': 0,
 'favorite_count': 0,
 'entities': {'hashtags': [], 'urls': [], 'user_mentions': [], 'symbols': []},
 'favorited': False,
 'retweeted': False,
 'filter_level': 'low',
 'lang': 'en',
 'timestamp_ms': '1532206723080'}

In [6]:
cursor = collection_reference.find()

In [7]:
cursor.count()

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  """Entry point for launching an IPython kernel.

11748

In [9]:
collection_reference.count_documents ({})

11798

In [10]:
collection_reference

Collection(Database(MongoClient(host=['18.236.138.158:27016'], document_class=dict, tz_aware=False, connect=True), 'twitter'), 'tweets')

In [11]:
cursor_sampl = collection_reference.aggregate(
    [{'$sample': {'size': 20}}]
)

In [12]:
len(list(cursor_sampl))

20

In [13]:
next(cursor_sampl)

StopIteration:

In [ ]:
# this error is because the cursor is done...a mongo function also needs to ask for esach one with a next

In [14]:
len(list(cursor_sampl))

0

In [15]:
tw_keys

NameError: name 'tw_keys' is not defined

In [16]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [17]:
tw = next(cursor_sampl)

In [18]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'display_text_range', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'extended_tweet', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms'])

In [19]:
list(tw.values())[:5]

[ObjectId('5b58c4c93aed5a010fe92174'),
 'Wed Jul 25 18:38:48 +0000 2018',
 1022189440310042624,
 '1022189440310042624',
 '@russbengtson Remember the Jordan 3 “went away” a few years back and it was supposed to be for something like 5 yea… https://t.co/PV1XVyImMm']

In [20]:
import pandas as pd

In [21]:
cursor = collection_reference.aggregate([{'$sample': {'size': 5}}])

tw_sample_df = pd.DataFrame(list(cursor))

In [22]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_tweet                object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str          object
quoted_status_permalink       object
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
dtype: object

In [23]:
tw_sample_df.select_dtypes([int])

,favorite_count,id,quote_count,reply_count,retweet_count
0,0,1022182070984957952,0,0,0
1,0,1022163427223990272,0,0,0
2,0,1022174176457646080,0,0,0
3,0,1022162933101416448,0,0,0
4,0,1022174939355344896,0,0,0

In [24]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id  quoted_status_id
0                    NaN                  NaN               NaN
1                    NaN                  NaN               NaN
2                    NaN                  NaN      1.022092e+18
3           1.022143e+18          172958817.0               NaN
4                    NaN           22523741.0               NaN

In [25]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_tweet,filter_level,geo,id_str,...,lang,place,possibly_sensitive,quoted_status,quoted_status_id_str,quoted_status_permalink,source,text,timestamp_ms,user
0,5b58bddc3aed5a010fe91c37,None,None,Wed Jul 25 18:09:31 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1022182070984957952,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",When your bf and friend are on the way back fr...,1532542171604,"{'id': 428883047, 'id_str': '428883047', 'name..."
1,5b58ac823aed5a010fe90d90,None,None,Wed Jul 25 16:55:26 +0000 2018,"[0, 140]","{'hashtags': [{'text': 'booktoday', 'indices':...",{'full_text': '25% Students and Parents. #book...,low,None,1022163427223990272,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,NaN,NaN,NaN,"<a href=""http://twitter.com/download/android"" ...",25% Students and Parents. #booktoday #headshot...,1532537726585,"{'id': 2664338222, 'id_str': '2664338222', 'na..."
2,5b58b6b53aed5a010fe915fd,None,None,Wed Jul 25 17:38:09 +0000 2018,"[0, 27]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,low,None,1022174176457646080,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,{'created_at': 'Wed Jul 25 12:12:05 +0000 2018...,1022092118226071559,"{'url': 'https://t.co/LPnnvICO3R', 'expanded':...","<a href=""http://twitter.com/download/iphone"" r...",I will always choose game s https://t.co/LPnnv...,1532540289402,"{'id': 3307600435, 'id_str': '3307600435', 'na..."
3,5b58ac383aed5a010fe90d39,None,None,Wed Jul 25 16:53:28 +0000 2018,"[12, 140]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",{'full_text': '@DLF_JaronF Naw it def doesn’t....,low,None,1022162933101416448,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@DLF_JaronF Naw it def doesn’t. But Rays basic...,1532537608777,"{'id': 585391355, 'id_str': '585391355', 'name..."
4,5b58b74f3aed5a010fe916a2,None,None,Wed Jul 25 17:41:11 +0000 2018,NaN,"{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,1022174939355344896,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@LZGranderson @SedanoESPN y’all need to listen...,1532540471291,"{'id': 274591457, 'id_str': '274591457', 'name..."

In [26]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [27]:
tw_sample_df.created_at

0   2018-07-25 18:09:31
1   2018-07-25 16:55:26
2   2018-07-25 17:38:09
3   2018-07-25 16:53:28
4   2018-07-25 17:41:11
Name: created_at, dtype: datetime64[ns]

## Tweets Containing Geo Information

In [28]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

In [29]:
collection_reference.count_documents({'geo' : { '$ne' : None}})

1581

## Distinct Users

#### TRY THIS

In [31]:
len(collection_reference.distinct('user'))

12528

In [33]:
# how many users
collection_reference.count_documents({})

13248